body{
    height: 100%;
    margin: 0;
    padding: 0;
}

#navbar{
    background-color: gray;
    color: white;
}

#hero {
    background-color: aquamarine;
    height: 500px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#showAge{
    display: none;
    margin-top: 25px;
    margin-bottom: 25px;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }

#card-age-check{
    margin-top: 10px;
}

#inputAge{
    border: 1px solid blue;
    width: 100%;
    background-color: aquamarine;
}

#cardBoxPeople{
    margin-top: 25px;
}

.footer{
    background-color: gray;
    height: 50px;
    text-align: center;
}



